h1 {
  text-align:center;
  background-color: #e7f6f9;
  color:#337981;
  font-family: 'Lato black', sans-serif;
}
.response {
  display:none;
}
.reset {
  margin: 0 auto;
  width: 400px;
}

textarea {
  background-color: yellow;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.questions , .response {
  /* Just to center on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #e7f6f9;
}


.progress {
  background-color:#337981;
  border-radius: 1em;
  color:white;
}

.expander {
  margin: 0 auto;
  width: 400px;
  order: 1px solid black;
  border-radius: 1em;
  background-color: #337981;
}
h4 {
  text-align:center;
  color:white;
}
