.step {
  display: none
}
.step.active {
  display:block;
}
h1 {
  text-align:center;
  color:#337981;
  font-family: 'Lato black', sans-serif;
}
h4 {
  padding:.35em;
  margin:0px;
}

.wrapper {
  width: 100%;
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    max-width: 500px;
    margin:0 auto;
  }
}
.sectionhead {
  border-radius: 1em;
  background-color: #337981;
  text-align:center;
  color:white;
  margin-top: 1em;
}
.response {
  display:none;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #b5dbe2;
  margin: 0px;
}
.questions {
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #e7f6f9;
}
.editor{
  padding: .25em;
  text-align: center;
}

textarea {
  width: 95%;
  height: 50px;
  padding: 10px;
  color:black;
  background-color: #e6ffff;
}
input[type=radio] {
  margin: .5em;
}
input[type=checkbox] {
  margin: .5em;
}
.button-success {
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  height: 50px;
  border-radius: 1em;
  background-color: #337981;
  color:white;
  font-size: 2em;
}
.pushit {
  width: 50%;
  background-color:white;
  border-radius: 1em;
  font-size: .8em;
}
